/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Get all required dependencies
 * ---------------------------------------------------------------------------------------------------------------------
 */

var gulp    = require('gulp');
var shell   = require('gulp-shell');
var elixir  = require('laravel-elixir');
var del     = require('del');

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Extend elixir
 * ---------------------------------------------------------------------------------------------------------------------
 */
elixir.extend('remove', function(path) {
    new elixir.Task('remove', function() {
        return del(path);
    });
});

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Mix elixir
 * ---------------------------------------------------------------------------------------------------------------------
 */
elixir(function(mixt) {
    var vers = [];

    /**
     * -----------------------------------------------------------------------------------------------------------------
     * Build css
     * -----------------------------------------------------------------------------------------------------------------
     */
    mixt
        .sass('index.scss')
    ;

    vers = vers.concat([
        './public/css/index.css'
    ]);

    /**
     * -----------------------------------------------------------------------------------------------------------------
     * Build scripts
     * -----------------------------------------------------------------------------------------------------------------
     */
    mixt
        .browserify(
            './resources/assets/js/index.js',
            './public/js/index.js',
            null,
            {
                paths: [ './node_modules', './resources/assets/js' ],
                cache: {},
                packageCache: {}
            }
        )
    ;

    vers = vers.concat([
        './public/js/index.js'
    ]);

    /**
     * -----------------------------------------------------------------------------------------------------------------
     * Copy images
     * -----------------------------------------------------------------------------------------------------------------
     */
    mixt.
        copy(
            './resources/assets/img',
            './public/img'
        )
    ;

    vers = vers.concat([
        './public/img/brand'
    ]);

    /**
     * -----------------------------------------------------------------------------------------------------------------
     * Verion files
     * -----------------------------------------------------------------------------------------------------------------
     */
    mixt
        .version(vers)
    ;
});
