.error-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    font-weight: 300;
    font-family: $font-family-sans-serif;
    color: #231f20;
}

.error-page .err-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.error-page .err-content {
    text-align: center;
    display: inline-block;
}

.error-page .err-img {
    width: 240px;
    height: 240px;
}

.error-page .err-title {
    font-size: 72px;
    margin-bottom: 40px;
}
